.cajas{
    max-width: 800px; /*Es el tamaño maximo que puede tomar mi contenedor, se puede reducir pero no sube mas de 900*/
    /* height: 1000px; */
    background-color: cornflowerblue;
    margin: 0 auto;
}
.caja{
    width: 200px;
    height: 200px;
    background-color: yellow;
    margin: 10px;
    border: 5px solid red ;
    float: left;   /*Moverlo a la derecha o izquierda*/ 
    /*Cuando se usa float rompe el flujo de las cossas */
}

.clearfix{ 
    float: none; /*que no se flote*/
    clear: both; /*limpiar izquierda y derecha*/
}
